<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <%- include('../../imports'); -%>
  </head>
  <body>
    <%- include('../../navbar'); -%>
    <div class="container">
        
        <div class="row">
            
            <h3 class="col-9">Administração de sensores de temperatura</h3>
            
            <div class="col-3">
                    
                <a 
                class="btn btn-primary float-right"
                href="tempSensors/create"
                >
                    Novo Sensor
                </a>

            </div>
            
        </div>
        <table class="table table-striped">

            <thead class="thead-dark">
                <tr>
                    <th>#</th>
                    <th>Nome</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                <% tempData.forEach((tempData) => { %>
                    <tr>
                        <td><%= tempData.id %></td>
                        <td><%= tempData.name %></td>
                        <td>
                            <a
                            class="btn btn-primary"
                            href="tempSensors/tempInfo/<%= tempData.id %>"
                            >
                                VISUALIZAR
                            </a>
                        </td>
                    </tr>
                <% }) %>
            </tbody>

        </table>

    </div>
  </body>
</html>
