<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <%- include('../../imports'); -%>
  </head>
  <body>
    <%- include('../../navbar'); -%>
    <div class="container">
        
        <h3><%= title %></h3>

        <h5>Histórico de medidas</h5>

        <table class="table">

          <thead>
            <tr>
              <th>Data</th>
              <th>Temperatura</th>
              <th>Umidade</th>
            </tr>
          </thead>
          <tbody>
            <% tempSensor.measurements.forEach((item) => { %>
              <tr>
                <td><%= item.date %></td>
                <td><%= parseInt(item.temperature) %> graus</td>
                <td><%= item.humidity %>%</td>
              </tr>
          <% }) %>
          </tbody>
        </table>


        </ul>

    </div>
  </body>
</html>
